.price{
    // display: none;
    width: 100%;
    background: #202020;
    h4{
        margin-top: 0;
        font-size: 18px;
        text-align: center;
        letter-spacing: 10px;
        color: #F4D167;
        padding-top: 80px;
    }
    span{
        display: block;
        font-size: 42px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;
    }
}
.wrap-card-price{
    max-width: 1300px;
    margin: 50px auto 0 auto;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-price{
        width: 32%;
        border: 1px solid rgba(255, 255, 255, .1);
        box-sizing: border-box;
        .card-price_header{
            height: 74px;
            margin: 20px 0 20px 0;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            .card-price_header__top{
                display: block;
                width: 54px;
                font-size: 15px;
                line-height: 140%;
                letter-spacing: 1px;
                color: #FFFFFF;
                opacity: 0.3;
                font-family: Arial, Helvetica, sans-serif;
                margin:  0 auto;
            }
            .card-price_header__bottom{
                display: block;
                width: 112px;
                font-family: 'Playfair Display', serif;
                font-style: italic;
                font-weight: bold;
                font-size: 34px;
                line-height: 100%;
                color: #F2C94C;
                text-align: center;
                letter-spacing: -0.5px;
                margin:  0 auto;
            }
        }
        .card-price_content{
            width: 340px;
            margin:  0 auto;
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .card-price_content__string{
                width: 316px;
                font-size: 18px;
                line-height: 140%;
                color: #FFFFFF;
                opacity: 0.8;
                text-align: start;
            }
            .string_gray{
                opacity: 0.2;
            }
        }
        .card-price_footer{
            margin-top: 40px;
            border-top: 1px solid rgba(255, 255, 255, .1);
            .img_price{
                width: 128px;
                display: block;
                margin: 30px auto 0 auto;
            }
            .wrap-btn-price{
                width: 230px;
                height: 70px;
                margin:  0 auto;
                margin: 23px auto 30px auto;
                position: relative;
                .btn-price{
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(128.38deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
                }
                .btn-price_shadow{
                    width: 190px;
                    height: 50px;
                    position: absolute;
                    left:20px;
                    top: 20px;
                    background: linear-gradient(128.14deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
                    opacity: 0.4;
                    filter: blur(40px);
                
                }
                .btn-price_title{
                    font-size: 15px;
                    line-height: 140%;
                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #333333;
                    position: absolute;
                    top:20px;
                    left:74px;
                    font-weight: bold;
                    z-index: 100;
                }
            }
        }
    }
    .card-price_def{
        border: 1px solid #FFFFFF;
    }
    
}
@media only screen and (max-width : 1024px){
    .wrap-card-price{
        width: 95%;
        margin: 15px auto 0 auto;
        padding-bottom: 40px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .card-price{
            width: 45%;
            margin-top: 25px;
            .card-price_header{
                .card-price_header__bottom{
                    width: 100%;
                }
            }
            .card-price_content{
                width: 90%;
                div{
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 768px){
    .wrap-card-price{
        width: 95%;
        margin: 15px auto 0 auto;
        padding-bottom: 40px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .card-price{
            width: 45%;
            margin-top: 25px;
            .card-price_header{
                .card-price_header__bottom{
                    width: 100%;
                }
            }
            .card-price_content{
                width: 90%;
                div{
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 320px) {
    .price{
        h4{
            font-size: 12px;
            letter-spacing: 8px;
            padding-top: 40px;
        }
        span{
            font-size: 24px;
            line-height: 100%;
            margin-top: 0px;
        }
    }
    .wrap-card-price{
        max-width: 1300px;
        margin: 10px auto 0 auto;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        .card-price{
            width: 95%;
            margin-top: 20px;
            .card-price_header{
                height: 40px;
                margin: 5px 0 20px 0;
                .card-price_header__top{
                    width: 100%;
                    font-size: 10px;
                    line-height: 140%;
                }
                .card-price_header__bottom{
                    width: 100%;
                    font-size: 18px;
                }
            }
            .card-price_content{
                width: 100%;
                div{
                    margin-top: 5px;
                    img{
                        margin-left: 5px;
                        margin-right: 8px;
                    }
                }
                .card-price_content__string{
                    width: 316px;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                    opacity: 0.8;
                    text-align: start;
                }
                .string_gray{
                    opacity: 0.2;
                }
            }
            .card-price_footer{
                margin-top: 15px;
                .img_price{
                    width: 100px;
                    margin: 20px auto 0 auto;
                }
                .wrap-btn-price{
                    width: 150px;
                    height: 50px;
                    margin: 15px auto 15px auto;
                    .btn-price{
                        width: 100%;
                        height: 45px;
                    }
                    .btn-price_shadow{
                        width: 100px;
                        height: 30px;
                        left:10px;
                        top: 10px;
                    }
                    .btn-price_title{
                        font-size: 13px;
                        top:15px;
                        left:40px;
                    }
                }
            }
        }
    }
}