@font-face {
    font-family: 'Droid Serif', serif;
    src: url(font/Droid-serif.ttf);
}
// @media (min-width: 1200px){
//     *{
//         .body-index{
//             margin: 30px;
//         }
//     }

// }
*{
    box-sizing: border-box;
    font-family: 'Droid Serif', serif;
}
.blog-content_bottom-right{
    padding-left: 15px;
    padding-right: 15px;
}