.gallery{
    width: 100%;
    background-color: #ffffff;
    // display: none;
    h4{
        width: 139px;
        margin: 0 auto 0 auto;
        letter-spacing: 10px;
        font-size: 18px;
        line-height: 100%;
        color: #F4D065;
        padding-top: 80px;
    }
    span{
        display: block;
        width: 573px;
        height: 42px;
        color: #333333;
        font-size: 37px;
        line-height: 100%;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        margin: 17px auto 0 auto;

    }
    .wrap_buttons{
        width: 884px;
        height: 70px;
        margin: 40px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        button{
            font-size: 15px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 1px;
            color: #333333;
            font-weight: bold;
            border: 2px solid #E9E9E9;
            box-sizing: border-box;
            background-color: #ffffff;
            padding: 20px 32px 19px 31px;
            cursor: pointer;
            position: relative;
            .wrap_buttons_shadow{
                display: none;
                width: 65%;
                height: 25px;
                position: absolute;
                top: 45px;
                background: linear-gradient(110.82deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
                filter: blur(40px);
            }
            &:focus{
                background: linear-gradient(114.44deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
                outline: none;
            }
            &:focus .wrap_buttons_shadow{
                display: block;
            }
        }
    }
    .wrap_gallery{
        width: calc(100% - 130px);
        height: 880px;
        margin: 50px 30px 0 60px;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-bottom: 80px;
        .left_btn, .right_btn {
            position: absolute;
            top: 10px;
            width: 50px;
            height: 880px;
            background-color: rgba(0, 0, 0, 0);
            z-index: 1;  
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .4s;
            img{
                visibility: hidden;
                transition: .1s;
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.7);
            }
            &:hover img {
                visibility: visible;
            }
        }
        .left_btn{
            left: 0;
        }
        .right_btn{
            right: 0;
        }
        .gallery_scroll{
            position: absolute;
            top: 0;
            width: 1750px;
            height: 880px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            img{
                display: inline-block;
                background: #C4C4C4; 
                margin: 10px;
                cursor: pointer;
            }
            .gallery_1{
                width: 420px;
                grid-area: 1 / 1 / 2 / 2;
            }
            .gallery_2{
                width: 420px;
                grid-area: 1 / 2 / 2 / 3;
            }
            .gallery_3{
                width: 860px;
                grid-area: 2 / 1 / 4 / 3;
            }
            .gallery_4{
                width: 420px;
                grid-area: 1 / 3 / 3 / 4; 
            }
            .gallery_5{
                width: 420px;
                grid-area: 3 / 3 / 4 / 4;
            }
            .gallery_6{
                width: 420px;
                grid-area: 1 / 4 / 2 / 5; 
            }
            .gallery_7{
                width: 420px;
                grid-area: 2 / 4 / 3 / 5;
            }
            .gallery_8{
                width: 420px;
                grid-area: 3 / 4 / 4 / 5;
            }
        }
    }
}

@media only screen and (max-width : 1024px){
    .gallery{
        padding-bottom: 30px;
        .wrap_gallery{
            width: 90%;
            height: 940px;
            margin: 10px auto 0 auto;
            position: relative;
            padding-bottom: 0;
            .left_btn, .right_btn {
                display: none;
            }
            .gallery_scroll{
                overflow-x: scroll;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width : 768px){
    .gallery{
        padding-bottom: 30px;
        h4{
            font-size: 14px;
            padding-top: 35px;
        }
        span{
            font-size: 28px;
            margin: 14px auto 0 auto;
            text-align: center;
    
        }
        .wrap_buttons{
            width: 90%;
            margin: 20px auto 0 auto;
            button{
                font-size: 12px;
                line-height: 140%;;
                padding: 15px 15px 15px 15px;
            }
        }
        .wrap_gallery{
            width: 90%;
            height: 930px;
            margin: 10px auto 0 auto;
            position: relative;
            padding-bottom: 0;
            .left_btn, .right_btn {
                display: none;
            }
            .gallery_scroll{
                overflow-x: scroll;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width : 320px){
    .gallery{
        padding-bottom: 20px;
        h4{
            font-size: 14px;
            padding-top: 20px;
        }
        span{
            width: 273px;
            text-align: center;
            font-size: 24px;
            margin: 12px auto 0 auto;
        }
        .wrap_buttons{
            width: 100%;
            margin: 20px auto 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            button{
                width: 50%;
                font-size: 10px;
                line-height: 110%;
                padding: 10px;
            }
        }
        .wrap_gallery{
            width: 90%;
            height: 320px;
            margin: 50px auto 0 auto;
            .left_btn, .right_btn {
                display: none;
            }
            .gallery_scroll{
                overflow-x: hidden; 
                width: 100%;
                position: absolute;
                top: 0;
                display: block;
                img{
                    margin: 2px;
                }
                .gallery_1, .gallery_2, .gallery_3, .gallery_4,
                .gallery_5, .gallery_6, .gallery_7, .gallery_28{
                    width: 100%;
                }
            }
        }
    }
}
