.content{
    width: 100%;
    min-height: 581px;
    background-image: url(images/jasper-van-der-meij-97274-unsplash.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(13, 58, 127, 0.5);
    padding-top: 101px;
    .section-account{
        .section-account__wrap-title{
            width: 332px;
            height: 88px;
            margin: 0 auto;
            .section-account__title{
                margin-top: 0;
                font-size: 36px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.9px;
                color: #ffffff;
                text-align: center;
                position: relative;
                span{
                    padding-left: 3px;
                    background-image: linear-gradient(to right, rgba(22, 194, 184, 0.39), rgba(22, 194, 184, 0));
                }
            }
        }
        .section-account__slogan{
            margin: 0 auto;
            margin-top: 7px;
            width: 247px;
            height: 44px;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.7px;
            text-align: center;
            color: #ffffff;
        }
        .section-account__button{
            margin: 0 auto;
            margin-top: 29px;
            display: block;
            width: 218px;
            height: 65px;
            background-color: #16c2b8;
            border: 0;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.6px;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
        }
        .section-account__question{
            margin: 0 auto;
            margin-top: 11px;
            width: 230px;
            height: 22px;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: 0.6px;
            color: #ffffff;
            .section-account__slogan-link{
                color: #16c2b8;
                cursor: pointer;
            }
        }

    }
    .content__information{
        display: none;
    }
}
@media only screen and (min-width : 1024px) {
    .content {
        padding-top: 0;
        background-image: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        .section-account {
            width: 478px;
            height: 581px;
            padding-left: 130px;
            background-color: #0d3a7f;
            box-sizing: border-box;
            .section-account__wrap-title{
                padding-top: 95px;
                margin: 0;
                .section-account__title{
                    text-align: left;
                }
            }
            .section-account__slogan{
                margin: 15px 0 0 0;
                text-align: left;
            }
            .section-account__button{
                margin: 29px 0 0 0;
            }
            .section-account__question{
                margin: 11px 0 0 0;
            }
          }
          .content__information{
            display: block;
            width: calc(100% - 478px);
            height: 581px;
            background-image: url(images/johannes-ludwig-348591-unsplash.jpg);
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            .content__information_text{
                width: 293px;
                height: 87px;
                background-color: #317b6c;
                margin: 206px auto;
                .content__information_text-small{
                    display: block;
                    width: 113px;
                    height: 12px;
                    opacity: 0.42;
                    font-size: 10px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    color: #ffffff;
                    margin: 0 auto;
                    padding-top: 22px;
                }
                .content__information_text-big{
                    display: block;
                    width: 265px;
                    height: 43px;
                    opacity: 0.65;
                    font-size: 36px;
                    font-weight: 900;
                    letter-spacing: 1.41px;
                    color: #ffffff;
                    margin: 0 auto;
                    margin-top: -5px;
                }
            }
        }

    }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .content__information {
         background-image: url('images/johannes-ludwig-348591-unsplash@2x.jpg');
         background-size: cover;
    }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .content {
         background-image: url('images/jasper-van-der-meij-97274-unsplash@2x.png');
         background-size: 100% auto;
    }
}